<p id="notice"><%= notice %></p>

<h1>Teachers By Genres</h1>

<form class="border rounded border-dark border-bottom-0 p-4 my-4">
  <%= search_form_for @q do |f| %>
    <p class="font-weight-bold" >Narrow results:</p>
  
  
    <div class="mb-2">
      <%= f.label :genre_name_eq, "Search by genre", class: "form-label" %>
      <%= f.select :genre_name_eq, options_from_collection_for_select(Genre.all, :name, :name, @q.genre_name_eq), { :include_blank => true }, class: "form-control form-select" %>
    </div>
  
  
    <%= f.submit class: "btn btn-primary mt-2 mr-3" %>
  
    <a href="/">Clear filters</a>
  <% end %>
</form>

<%# <table>
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Genre</th>
      <th>Teacher Details</th>
      <th colspan="3"></th>
    </tr>
  </thead> %>

  <%# <tbody> %>

  <% @musician_genres.each do |musician_genre| %>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <%= image_tag "#{musician_genre.user.avatar_url}", class: "img-fluid rounded-start" %>
        </div>
        <div class="col-md-8">
          <div class="card-header d-flex justify-content-around">
            <h4 class="card-title fs-2"><%= musician_genre.user.username.capitalize%></h4>
            <p class="card-text">
              <span class="text-info fs-5">Location: </span><%= musician_genre.user.location.location_name %>
            </p>
          </div>
          <div class="card-body">
            <div class="h5">
              <% musician_genre.user.instruments.each do |instrument| %>
                        <span><%= instrument.name %></span>
                    <% end  %>
                    <span class="pt-4">Teacher </span>
            </div>
            <p class="card-text mt-3 h5"><span class="text-info">Genre:</span> <%= musician_genre.genre.name %>
            </p>
            <div class="mt-3">
              <p class="card-text h5"><span class="text-info">About me: </span><%= musician_genre.user.teacher_bio %></p>
            </div>
          <p class="card-text mt-3">
            <%= link_to 'Show', user_path(musician_genre.user.username), class: "btn btn-primary" %>
          </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%# </tbody> %>
<%# </table> %>

     
