<p id="notice"><%= notice %></p>

<h1>Musician Genres</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @musician_genres.each do |musician_genre| %>
      <tr>
        <td><%= musician_genre.user.username %></td>
        <td><%= musician_genre.genre.name %></td>
        <td><%= link_to 'Show', musician_genre %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Musician Genre', new_musician_genre_path %>
