<h1><%= @user.username.capitalize %></h1>
<img src="<%= @user.avatar_url %>" alt="">
<h2>Email</h2>
<p><%= @user.email %></p>

<h2>Instruments</h2>
<% @user.instruments.each do |instrument| %>
  <p><%= instrument.name %></p>
<% end %>

<h2>Years Teached</h2>
<p><%= @user.years_teached %></p>
<h2>Teacher Bio</h2>
<p><%= @user.teacher_bio %></p>


<h2>Schedule Availibility & Pricing</h2>
<p><%= @user.lesson_schedule%></p>
<p><%= @user.lesson_pricing.to_s(:currency)%>/ 30-min lesson </p>


<h2>Video Resume</h2>
<% if current_user == @user %>
  <div>
  <%= link_to "Add New Video", new_testimonial_link_path %>
</div>
<% end %>
<div class="">
  <% @user.testimonial_links.each do |video| %>
    <div class="">
      <iframe width="560" height="315"
        src="<%= video.link_url%>">
      </iframe>
    </div>
    <% if current_user == @user %>
      <div>
        <%= link_to "Edit link", edit_testimonial_link_path(video) %>
        <%= link_to "Delete link", testimonial_link_path(video), method: :delete %>
      </div>
    <% end %>
  <% end %>
</div>

<%= render "users/request_form" %>
