<%= form_with(model: user_instrument) do |form| %>
  <% if user_instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_instrument.errors.count, "error") %> prohibited this user_instrument from being saved:</h2>

      <ul>
        <% user_instrument.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :own_level_id %>
    <%= form.text_field :own_level_id %>
  </div>

  <div class="field">
    <%= form.label :min_teaching_level_id %>
    <%= form.text_field :min_teaching_level_id %>
  </div>

  <div class="field">
    <%= form.label :max_teaching_level_id %>
    <%= form.text_field :max_teaching_level_id %>
  </div>

  <div class="field">
    <%= form.label :instrument_id %>
    <%= form.text_field :instrument_id %>
  </div>

  <div class="field">
    <%= form.label :musician_id %>
    <%= form.text_field :musician_id %>
  </div>

  <div class="field">
    <%= form.label :years_played %>
    <%= form.number_field :years_played %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
