<p id="notice"><%= notice %></p>

<h1>Teachers By Instruments</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Musician</th>
      <th>Instrument</th>
      <th>Years Played</th>
      <th>Min teaching level</th>
      <th>Max teaching level</th>
      <th>Musician details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_instruments.each do |user| %>
      <tr>
        <td><img src="<%= user.musician.avatar_url%>" alt=""></td>
        <td><%= user.musician.username.capitalize %></td>
        <td><%= user.instrument.name %></td>
        <td><%= user.years_played %></td>
        <td><%= user.min_teaching_level.level %></td>
        <td><%= user.max_teaching_level.level %></td>
        <td><%= link_to 'Show', user_path(user.musician.username) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Instrument', new_user_instrument_path %>
