<p id="notice"><%= notice %></p>

<h1>Teachers By Instruments</h1>

<%= search_form_for @q do |f| %>
  <p>Narrow results:</p>

  <div>
  <%= f.label :instrument_name_eq, "Search by instrument" %>
  <%= f.select :instrument_name_eq, options_from_collection_for_select(Instrument.all, :name, :name, @q.instrument_name_eq), { :include_blank => true } %>
</div>
  
  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/">Clear filters</a>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Musician</th>
      <th>Instrument</th>
      <th>Years Played</th>
      <th>Min teaching level</th>
      <th>Max teaching level</th>
      <th>Teacher Details</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_instruments.each do |user| %>
      <tr>
        <td><img src="<%= user.musician.avatar_url%>" alt=""></td>
        <td><%= user.musician.username.capitalize %></td>
        <td><%= user.instrument.name %></td>
        <td><%= user.years_played %></td>
        <td><%= user.min_teaching_level.level %></td>
        <td><%= user.max_teaching_level.level %></td>
        <td><%= link_to 'Show', user_path(user.musician.username) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Instrument', new_user_instrument_path %>
