<p id="notice"><%= notice %></p>

<h1>User Instruments</h1>

<table>
  <thead>
    <tr>
      <th>Own level</th>
      <th>Min teaching level</th>
      <th>Max teaching level</th>
      <th>Instrument</th>
      <th>Musician</th>
      <th>Years played</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_instruments.each do |user_instrument| %>
      <tr>
        <td><%= user_instrument.own_level_id %></td>
        <td><%= user_instrument.min_teaching_level_id %></td>
        <td><%= user_instrument.max_teaching_level_id %></td>
        <td><%= user_instrument.instrument_id %></td>
        <td><%= user_instrument.musician_id %></td>
        <td><%= user_instrument.years_played %></td>
        <td><%= link_to 'Show', user_instrument %></td>
        <td><%= link_to 'Edit', edit_user_instrument_path(user_instrument) %></td>
        <td><%= link_to 'Destroy', user_instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Instrument', new_user_instrument_path %>
